<mat-sidenav-container [hasBackdrop]="mode === 'side' ? false : true">
  <mat-sidenav #sideNav fixedInViewport mode="side" [opened]="opened" class="shadow-1"
    [ngClass]="{'side-desktop-view': sideNav.mode === 'side'}">

    <!-- alll screens  -->
    <mat-nav-list *ngIf="sideNav.mode==='side'">
      <div style="display: flex;justify-content: end">
        <button type="button" mat-icon-button (click)="sideNav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div *ngFor="let x of sidemenulist" style="margin-top: 20px;">
        <mat-accordion >
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header >
              <mat-panel-title class="align-items-center">
                   {{x}}
              </mat-panel-title>
            </mat-expansion-panel-header>
                 <div style="margin-top: 20px;">
                  <span >name-1</span><br><br>
                  <span>name-2</span><br><br>
                  <span>name-3</span>
                 </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <!-- ------  -->
  <mat-sidenav-content class="no-bg" >
    <mat-toolbar class="no-bg shadow-1">
      <mat-toolbar-row class="d-flex ">
        <div  style="width: 70%;">
          <div style="display: flex;">
            <div >
              <img src="../assets/pnm logo.png" style="width: 100px;height: 55px;object-fit: contain;position: relative;top: 26px;">
            </div>
             <ng-container *ngIf="!isMobileView">
              <div *ngFor="let x of sidemenulist">
                <button style="padding: 35px 50px !important" type="button"
                [matMenuTriggerFor]="beforeMenu" mat-icon-button>
                <span style="color: #042D60;font-size: 18px;font-weight: 500;">{{x}}</span>
                </button>
              </div>
              <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
             </ng-container>
          </div>
        </div>

        <div style="width: 30%;" >
          <div style="display: flex;justify-content: center;">
           <ng-container *ngIf="isMobileView">
            <button type="button" mat-icon-button (click)="sideNav.toggle()">
              <mat-icon >menu</mat-icon>
            </button>
           </ng-container>
           <ng-container *ngIf="!isMobileView">
            <div>
              <mat-icon style="position: relative;top: 10px;font-size: 28px;right: 15px;">person</mat-icon>
            </div>
            <div>
             <span>sivaiah JG</span><br>
              <span>976543234567</span>
            </div>
            <div>
              <div class="freetrailbutton">
                Free Trial
              </div>
              <!-- <button type="button" mat-icon-button style="padding: 35px 50px !important" style="background-color: #2D8249;color: white;">
                Free Trial
              </button> -->
            </div>
           </ng-container>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-fluid">
      <!-- setion 1   -->
      <div class="row">
        <div class="col-12 order-2 col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-6 order-lg-1 col-xl-6 order-xl-1">
           <div style="margin: 20px;">
              <div style="margin-top: 20px;margin-bottom: 20px;">
                <h1 style="text-align: center;">
                  <span style="color: red;">100%</span>
                  <span style="color: #042D60;">d’efficacité, </span>
                  <span style="color: red;">0%</span>
                  <span style="color: #042D60;">de perte</span><br>
                  <span style="color: #042D60;"> de temps avec </span>
                  <span style="font-weight: 900;color: red;">Planning&Me</span>
                </h1>
              </div>
              <div class="mt-mb-4" style="text-align: center;font-size: 18px !important;">
                <span>Transformez vos défis en solutions :</span><br> 
                <span>un planning intelligent,</span><br> 
                <span>automatique, et ultra-efficace.</span>
              </div>
            <div class="row mt-4 p-2">
              <div style="display: flex;justify-content: center;" class="col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6">
                <button  mat-raised-button style="color: white;background-color: #0074CE;">
                  Essayer gratuitement
                </button>
              </div>
              <div style="display: flex;justify-content: center;"  class="col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6">
                <button mat-stroked-button style="color: #0074CE;background-color: white;border-radius:2px solid #0074CE ;">
                  Demander une Démo
                </button>
              </div>
            </div>
           </div>
        </div>
        <div class="col-12 order-1 col-sm-12 order-sm-2 col-md-12 order-md-2 col-lg-6 order-lg-2 col-xl-6 order-xl-2">
          <div style="display: flex;justify-content: center;">
            <div class="imageright"></div>
          </div>
        </div>
       </div>
             <!-- setion 2 -->
      <div class="row">
        <div class="col-12  col-sm-12  col-md-12  col-lg-6  col-xl-6 ">
          <div style="display: flex;justify-content: center;">
            <div class="imageright"></div>
          </div>
        </div>
        <div class="col-12 col-sm-12  col-md-12  col-lg-6  col-xl-6 ">
           <div style="margin: 20px;">
              <div style="margin-top: 20px;margin-bottom: 20px;">
                <h1 style="text-align: center;">
                  Get instant <br>
                  growth result <br>
                  for business.
                </h1>
              </div>
              <div style="text-align: center;font-size: 18px !important;">
                <span>Transformez vos défis en solutions :</span><br> 
                <span>un planning intelligent,</span><br> 
                <span>automatique, et ultra-efficace.</span>
              </div>
           </div>
        </div>
       </div>
    <!-- section 3  -->
    <div class="row m-4 justify-content-center">
      <div class="col-10 col-md-8 col-sm-10 col-lg-4 col-xl-4">
        <div style="display: flex;">
            <img src="../assets/athletics.svg" alt="">
        </div>
        <p style="font-size: 16px;font-weight: 500 ;">Manage Smartly</p>
        <p style="font-size: 12px;">
          Stay on top of your task lists and stay <br>
          in touch with what's happening
        </p>
      </div>
      <div class="col-10 col-md-8 col-sm-10 col-lg-4 col-xl-4">
        <div style="display: flex;">
            <img src="../assets/archery-target.svg" alt="">
        </div>
        <p style="font-size: 16px;font-weight: 500 ;">Communicate Fast</p>
        <p style="font-size: 12px;">
          Stay on top of your task lists and stay <br>
          in touch with what's happening
      </div>
      <div class="col-10 col-md-8 col-sm-10 col-lg-4 col-xl-4">
        <div style="display: flex;">
            <img src="../assets/money-coins.svg" alt="">
        </div>
        <p style="font-size: 16px;font-weight: 500 ;">Influence Easily</p>
        <p style="font-size: 12px;">
          Stay on top of your task lists and stay <br>
          in touch with what's happening
        </p>
      </div>
     </div>
     <!-- section 4  -->
       <div class="row m-4 justify-content-center">
        <div class="col-10 col-md-8 col-sm-10 col-lg-4 col-xl-4">
          <div style="display: flex;">
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
          </div>
          <p>Simply the best. Better than all the <br>
            rest. I’d recommend their service to <br>
             beginners and advanced users.</p>
             <div class="row mt-4">
              <div class="col-2">
                <img src="../assets/person-2.jpeg" style="width: 50px;height: 50px;border-radius: 50%;" alt="">
              </div>
              <div class="col-10">
                <span style="font-weight: 800;font-size: 16px;">Mariano Rasgado</span><br>
                <span>Founder</span>
              </div>
             </div>
        </div>
        <div class="col-10 col-md-8 col-sm-10 col-lg-4 col-xl-4">
          <div style="display: flex;">
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
          </div>
          <p>Simply the best. Better than all the <br>
            rest. I’d recommend their service to <br>
             beginners and advanced users.</p>
             <div class="row mt-4">
              <div class="col-2">
                <img src="../assets/person-2.jpeg" style="width: 50px;height: 50px;border-radius: 50%;" alt="">
              </div>
              <div class="col-10">
                <span style="font-weight: 800;font-size: 16px;">Mariano Rasgado</span><br>
                <span>Founder</span>
              </div>
             </div>
        </div>
        <div class="col-10 col-md-8 col-sm-10 col-lg-4 col-xl-4">
          <div style="display: flex;">
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
            <mat-icon style="color: #FF971D;">star</mat-icon>
          </div>
          <p>Simply the best. Better than all the <br>
            rest. I’d recommend their service to <br>
             beginners and advanced users.</p>
             <div class="row mt-4">
              <div class="col-2">
                <img src="../assets/person-1.jpeg" style="width: 50px;height: 50px;border-radius: 50%;" alt="">
              </div>
              <div class="col-10">
                <span style="font-weight: 800;font-size: 16px;">Mariano Rasgado</span><br>
                <span>Founder</span>
              </div>
             </div>
        </div>
       </div>


       <!-- footer  -->

       <div class="footer-container">
        <div class="cta-section">
          <h2>It’s easy to get started. Start now.</h2>
          <div class="cta-form">
            <input type="email" placeholder="Enter your email" />
            <button>Start For Free</button>
          </div>
        </div>
      
        <div class="footer-content">
          <div class="footer-about">
            <h3>
              <mat-icon>flash_on</mat-icon> Fastland
            </h3>
            <p>
              The best medicines & biggest brands within 30 minutes at your home.
              Experience the power of MedCartel today.
            </p>
          </div>
      
          <div class="footer-links">
            <div class="column">
              <h4>Company</h4>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Faq</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="column">
              <h4>More Links</h4>
              <ul>
                <li><a href="#">News rooms</a></li>
                <li><a href="#">Missions</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Faq</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
      
          <div class="footer-contact">
            <h4>Contact Details</h4>
            <p>
              <mat-icon>location_on</mat-icon> Amsterdam, Netherlands
            </p>
            <p>
              <mat-icon>call</mat-icon> +31 62 19 22 705
            </p>
            <p>
              <mat-icon>schedule</mat-icon> 7 Days - 8am - 10pm
            </p>
            <p>
              <mat-icon>email</mat-icon> info@medcartel.com
            </p>
          </div>
        </div>
      
        <div class="footer-bottom">
          <p>© 2021 Fastland By FinestDevs. All Rights Reserved</p>
          <div class="social-icons">
            <a href="#"><mat-icon>facebook</mat-icon></a>
            <a href="#"><mat-icon>twitter</mat-icon></a>
            <a href="#"><mat-icon>photo_camera</mat-icon></a>
            <a href="#"><mat-icon>linkedin</mat-icon></a>
          </div>
        </div>
      </div>
      

      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 